<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Serialization.Contents" description="Content serialization">
          <predicate>
            <include name="Content" database="master" path ="/sitecore/content/Home"/>
          </predicate>
        </configuration>
        <!--<configuration name="Serialization.Contents" description="Content serialization" dependencies="Serialization.Templates,Serialization.Rendering">
          <targetDataStore physicalRootPath="$(sourceFolder)\Contents" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Content" database="master" path ="/sitecore/content/Home"/>
            --><!--<include name="Content" database="master" path="/sitecore/content/xyz">
              <exclude name="RenderingVariants" database="master" path="/sitecore/content/xyz/DigitalAI/Presentation/Rendering Variants"/>
              <exclude name="AvailableRenderings" database="master" path="/sitecore/content/xyz/DigitalAI/Presentation/Available Renderings"/>
              <exclude name="Style" database="master" path="/sitecore/content/xyz/DigitalAI/Presentation/Styles"/>
            </include>--><!--
          </predicate>
        </configuration>-->

        <!--<configuration name="Serialization.Renderings" description="Rendering serialization">
          <targetDataStore physicalRootPath="$(sourceFolder)/Renderings" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Project/DigitalAI"/>
          </predicate>
        </configuration>

        <configuration name="Serialization.Layouts" description="Layouts serialization">
          <targetDataStore physicalRootPath="$(sourceFolder)/Layouts/" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Renderings" database="master" path="/sitecore/layout/Layouts/Project/DigitalAI"/>
          </predicate>
        </configuration>

        <configuration name="Serialization.Templates" description="Template serialization">
          <targetDataStore physicalRootPath="$(sourceFolder)/Templates" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/Project"/>
          </predicate>
        </configuration>-->

      </configurations>
    </unicorn>
  </sitecore>
</configuration>