<configuration xmlns:patch="http://www.sitecore.net/xmlconfig">
<sitecore>
<sc.variable name="sourceFolder" value="D:\Code\IndegeneDigitalAI\App_Data\ContentSynchronization"/>
	<settings>
		<setting name="SerializationFolder" value="/App_Data/ContentSynchronization" patch:source="Sitecore.Serialization.config"/>
	</settings>
</sitecore>
</configuration>