<configuration xmlns:patch="http://www.sitecore.net/xmlconfig" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore>
    <sc.variable name="sourceFolder" value="D:\Code\IndegeneDigitalAI\App_Data\ContentSynchronization" env:require="local"/>
    <sc.variable name="sourceFolder" value="C:\DigitalAI\App_Data\ContentSynchronization" env:require="prod"/>
    <settings>
      <setting name="SerializationFolder" value="/App_Data/ContentSynchronization" patch:source="Sitecore.Serialization.config"/>
    </settings>
  </sitecore>
</configuration>