@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel
<div class="container">
    <div class="row">@Html.Sitecore().Field("Image", Model.Item)</div>
    <div class="row">@Html.Sitecore().Field("Title", Model.Item)</div>
    <div class="row">@Html.Sitecore().Field("Description", Model.Item)</div>
</div>